{:deps true
 :builds       {:calva-lib
                {:target    :npm-module
                 :runtime   :node
                 :entries [calva.foo
                           calva.bar]
                 :output-dir "node_modules/shadow-cljs"}}}

